<h1>Home Products</h1>
<br><br>
<a href="/api/sessions/logout">logout</a>

<hr>
    {{!-- <form id="params" action="">

            <label for="categoria">Categoría:</label>
        <select name="categoria" id="categoria">
            <option value="">Todas</option>
            <option value="cat_a">cat_a</option>
            <option value="cat_b">cat_b</option>
            <option value="cat_c">cat_c</option>
            <option value="cat_d">cat_d</option>
        </select>

            <label for="status">Estado:</label>
        <select name="status" id="estado">
            <option value="">Todos</option>
            <option value="true">Disponible</option>
            <option value="false">No disponible</option>
        </select>

            <label for="sort">Ordenar por precio:</label>
        <select name="sort" id="sortSelect">
            <option value="">No ordenar</option>
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
        </select>

        <label for="limit">Cantidad por página:</label>
        <input type="text" id="limitPage">
        <label for="page">Página:</label>
        <input type="text" id="pageNum">
    </form>
    <a id="goAnchor" href=""><b> Aplicar</b></a>

    <label for="cartSelect">Carrito en uso:</label>
    <select name="cart" id="cartSelect"> --}}

{{!-- <ul>
    {{#each productos}}
    <li>
        {{this}} 
        <button class="agregar-al-carrito" data-producto="{{this}}">Agregar al carrito</button>
    </li>
        
    {{/each}}
</ul> --}}
{{#each productos.payload}}
  <div>
    <h2>Title: {{this.title}}</h2>
    <p>Description: {{this.description}}</p>
    <p>Price: ${{this.price}}</p>
    {{#if this.status}}
      <p>Disponible</p>
      <form class="addToCartForm" id="{{this._id}}">
        <label>Cantidad:
          <input type="text" name="quantity" class="quantity">
        </label>
        <input type="submit" value="Agregar al carrito">
      </form>
    {{else}}
      <p>No disponible</p>
    {{/if}}
    <hr>
  </div>
{{/each}}


<a href="/api/products?page=1">Primer pagina</a>
{{#if hasPrevPage}}
<a href="/api/products?page={{prevPage}}">pag.Anterior</a>
{{/if}}
{{#if hasNextPage}}
<a href="/api/products?page={{nextPage}}">pag.siguiente</a>
{{/if}}
<a href="/api/products?page={{totalPages}}">Ultima pagina</a>


